body {
    background-color: gainsboro;
}

.title-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color:black;
    text-align: center;
    margin-top: 80px;
}

.bible-quotation {
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    color: black;
    line-height: 1.5;
}

.bible-quotation sup {
    vertical-align: super;
    font-size: 0.6em;
    margin-right: 2px;
}

.container {  
    background-color: bisque;
    border: 1px solid;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 900px;
    height: fit-content;
    padding: 20px;
}